# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
*.swp
*.swo

# Node (if npm is ever added)
node_modules/

# Local server logs
*.log

dist/*

# Wrangler local cache (created by `wrangler deploy`)
.wrangler/

syntax-report.txt
Improvements.md
*IDEAS.md
*AUDIT.md

*.mp4
